#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

html{
  width:100vw;
}
.card {
  padding: 2em;
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form{
  display:flex;
  justify-content:right;
}

.search{
  height:3.5em;
  width: 20em;
  border-radius:25px;
  padding:0px 10px;
}

.table{
  margin-top:1em;
  margin-bottom:1em;
}

.viewContainer{
  display:flex;
  justify-items: right;
  justify-content: right;
}

.viewButton{
  padding:0.5em 1.5em;
  border-radius:25px;
  background-color:#1a1a1a;
  margin: 0em 0.5em;
}

.container{
  display:flex;
  padding:2em;
}

.searchContainer{
  padding-right:0.5em;
}


.textfield{
  background-color:rgba(255, 255, 255, 0.989);
  border-radius:5px;
  height:2.4em;
  width:150px;
  display:flex;
  align-items:center;
  align-content:center;
}



.multiselect{
  margin:2em;
  &Color{
    z-index:999;
    width:150px;
  }
  &Types{
    z-index:1000;
    width:150px;
  }
}.filters {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateX(-110%);
  overflow: hidden;
  opacity: 0;
  height:80vh;
  border-radius:5px;
  &Btn{
    z-index:100;
  }
}
.pokemonContainer{
  width:100%;
}

.filters.visible {
  transform: translateX(0);
  opacity: 1; /* Set opacity to 1 to keep it visible */
}

.hidden {
  transform: translateX(-110%); /* Move it out of the viewport */
}

.divider{
  background-color:grey;
}

.filtersMenu{
  margin-right:2em;
}

.detailsImg{
  background-color:white;
  border-radius:25px;
  margin:5em;
}

.detailsCont{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.detailsInfo{
  padding:1em;
}